
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

body {
  font-family: 'Roboto', sans-serif;
}

.tabHeadline {
  font-size: 24;
  padding-top: 16;
  margin-bottom: 12;
  font-weight: 400;
}